<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/login/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body id="LoginForm">

</body>
</html>